<div class="container">
<h2>All expenses</h2>

<table>
    <tr>
        <th>Description</th>
        <th>Category</th>
        <th>Tools</th>
    </tr>
    <tr>
        <td>{{this.expense}}</td>
        <td>{{this.category}}</td>
        <td></td>
    </tr>
</table>

<a href="/">back home</a>
</div>