<div class="container">
<h2>All expenses</h2>

<table>
    <tr>
        <th>Description</th>
        <th>Category</th>
        <th>Tools</th>
    </tr>
    {{#each expenditure}}
    <tr>
        <td>{{this.expense}}</td>
        <td>{{this.category_type}}</td>
        <td>{{this.total}}</td>
    </tr>
    {{/each}}
</table>

<a href="/">back home</a>
</div>