<div class="container">
    <span class="error">
            {{messages.error}}
    </span>
    <h2>Add expense</h2>
    <form action="/expense" method="post">
        <div class="add">
    
            <label for="">Description</label>
            <input type="text" class="description" name="description" required><br>
            <label for="">Amount</label>
            <input type="text" class="Amount" name="amount" required><br>
            <label>Category</label>
            <select class="category" name="category">
            <option value="">Choose</option>  
            {{#each category}}
            <option value={{this.id}}>{{this.category_type}}</option>
            {{/each}}
            </select><br>
            <button type="submit">Add expense</button>
        </div>
     </form>
    
    <h3>Total expenses</h3><span></span>
    <p>Expense summary per category</p>
    <table>
        <tr>
            <th>Category</th>
            <th>Totals</th>
        </tr>
        <tr>
            <td>Qinisane</td>
            <td>Lesedi</td>
        </tr>
        <tr>
            <td>Qinisane</td>
            <td>Lesedi</td>
        </tr>
    </table>

    <a href="/expense">View expenses</a>
</div>